<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ukream.mapper.UserMapper">
    


    <select id="checkDuplicatedEmail" resultType="int">
        SELECT COUNT(email)
        FROM User
        WHERE email = #{email}
    </select>

     <insert id="createUser" parameterType="UserDTO">
        INSERT INTO USER(email, password, create_date)
        VALUES(#{email}, #{password}, #{createDate})
    </insert>

</mapper>
